In [6]:
import numpy as np
import pandas as pd

# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [9]:
arr=pd.Series([11,22,33,44,55,66,87])
print("Pandas Series:")
arr

Pandas Series:

0    11
1    22
2    33
3    44
4    55
5    66
6    87
dtype: int64

# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [12]:
arr=pd.Series([11,22,33,44,55,66,87])
print("Python list:")
lst=arr.tolist()
lst

Python list:

[11, 22, 33, 44, 55, 66, 87]

# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [16]:
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,9])
print("Addition of s1 + s2 :\n",s1 + s2)
print("Subtraction of s1 - s2 :\n",s1 - s2)
print("Multiplication of s1 * s2 :\n",s1 * s2)
print("Division of s1 / s2 :\n",s1 / s2)

Addition of s1 + s2 :
 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction of s1 - s2 :
 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication of s1 * s2 :
 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division of s1 / s2 :
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# Write a Pandas program to compare the elements of the two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [19]:
s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 10])
print("is equal :\n",s1==s2)
print("Greater Than:\n",s1>s2)
print("Less Than:\n",s1>s2)
print("not equal to:\n",s1!=s2)
print("Greater Than equal to:\n",s1>=s2)
print("Less Than equal to:\n",s1>=s2)

is equal :
 0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater Than:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
Less Than:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
not equal to:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
Greater Than equal to:
 0    True
1    True
2    True
3    True
4    True
dtype: bool
Less Than equal to:
 0    True
1    True
2    True
3    True
4    True
dtype: bool

# 5. Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [22]:
data = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series=pd.Series(data)
print("Converted Pandas Series:\n")
series

Converted Pandas Series:

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 6. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50
dtype: int64
7. Write a Pandas p

In [25]:
arr=np.array([10 ,20 ,30 ,40, 50])
series=pd.Series(arr)
print("Converted Pandas Series:\n")
series

Converted Pandas Series:

0    10
1    20
2    30
3    40
4    50
dtype: int64

# 7. Write a Pandas program to change the data type of given a column or a
Series.
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [28]:
data = pd.Series([100, 200, 'python', 300.12, 400])
print("Original data:",data)
convert_data=pd.to_numeric(data, errors='coerce')
print("data Series after converting to numeric:\n")
convert_data

Original data: 0       100
1       200
2    python
3    300.12
4       400
dtype: object
data Series after converting to numeric:

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

# 8. Write a Pandas program to convert the first column of a DataFrame as a
Series.
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [31]:
data = {'col1': [1, 2, 3, 4, 5, 11],
        'col2': [4, 3, 5, 9, 7, 0],
        'col3': [7, 8, 8, 12, 1, 11]}
df=pd.DataFrame(data)
print("Original dataFrame:\n",df)
series_column=df['col1']
print("1st column as a Series:/n",type(series_column))

Original dataFrame:
    col1  col2  col3
0     1     4     7
1     2     3     8
2     3     5     8
3     4     9    12
4     5     7     1
5    11     0    11
1st column as a Series:/n <class 'pandas.core.series.Series'>

# 9. Write a Pandas program to convert a given Series to an array.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [34]:
data=pd.Series([200, 'python', 300.12, 400], index=[1, 2, 3, 4])
numpy_arr=data.to_numpy(data)
print(numpy_arr)
print(type(numpy_arr))

[200 'python' 300.12 400]
<class 'numpy.ndarray'>

# 10. Write a Pandas program to convert Series of lists to one Series.
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object

In [37]:
list_series = [
    ['Red', 'Green', 'White'],
    ['Red','Black'],
    ['Yellow']
]
lst=[item for sublist in list_series for item in sublist]
Covert_series=pd.Series(lst)
print(Covert_series)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

# 11. Write a Pandas program to sort a given Series.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object

In [40]:
original_series = pd.Series([100, 200,'python',300.12,400])
sort_series=original_series .astype(str).sort_values()
print(sort_series)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

# 12. Write a Pandas program to add some data to an existing Series.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
5 500

In [43]:
original_series = pd.Series([100,200, 'python', 300.12, 400])
add_data=pd.Series([500,700],index=[5,6])
upadte_series=pd.concat([original_series,add_data])
print(upadte_series)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       700
dtype: object

# 13. Write a Pandas program to create a subset of a given series based on value and
condition.
Sample Output:
Original Data Series:
0 0
1 1
2 2
....
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64

In [46]:
original_series = pd.Series(range(11))
subset_series = original_series[original_series <= 5]
print(subset_series)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

# 14. Write a Pandas program to change the order of index of a given series.
Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64

In [49]:
data = [1, 2, 3, 4, 5]
indx = ['A', 'B', 'C', 'D', 'E']
original_series = pd.Series(data, index=indx)
print("Original Series:\n",original_series)
new_order = ['B', 'A', 'C', 'D', 'E']
reordered_series = original_series.reindex(new_order)
print("updated index Series:\n",reordered_series)

Original Series:
 A    1
B    2
C    3
D    4
E    5
dtype: int64
updated index Series:
 B    2
A    1
C    3
D    4
E    5
dtype: int64

# 15. Write a Pandas program to create the mean and standard deviation of the data of a
given Series.
Sample Output:
Original Data Series:
0 1
1 2
2 3
....
7 8
8 9
9 5
10 3
dtype: int64
Mean of the said Data Series:
4.818181818181818
Standard deviation of the said Data Series:
2.522624895547565

In [60]:
data=[10,20,33,44,45,56,67,78,91,23]
df=pd.Series(data)
print("Mean:",df.mean())
print("standard deviation:",df.std())

Mean: 46.7
standard deviation: 26.37359790902005

# 16. Write a Pandas program to get the items of a given series not present in another given
series.
Sample Output:
Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of sr1 not present in sr2:
0 1
2 3
4 5
dtype: int64

In [65]:
data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data2 = [2, 4, 6, 8, 10]
data1=pd.Series(data1)
data2=pd.Series(data2)
d1_not_in_d2=data1[~data1.isin(data2.values)]
d1_not_in_d2

0    1
2    3
4    5
6    7
8    9
dtype: int64

# 17. Write a Pandas program to get the items which are not common of two given series.
Sample Output:
Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of a given series not present in another given series:
0 1
2 3
4 5
5 6
6 8
7 10
dtype: int64

In [76]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([4, 5, 6, 7, 8])

result=pd.concat([s1[~s1.isin(s2)],(s2[~s2.isin(s1)])],ignore_index=True)
result

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

# 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and
maximum of a given series.
Sample Output:
Original Series:
0 3.000938
1 11.370722
2 14.612143
....
17 14.118931
18 8.247458
19 5.526727
dtype: float64
Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [83]:
data_18 = [
    5.100222, 5.200222, 14.612143, 13.141881, 
    8.247458, 10.524727, 10.590241, 10.0
]
df=pd.Series(data_18)
print("Minimun:",df.min())
print("25th percentile:",df.quantile(0.25))
print("Median:",df.median())
print("75th percentile:",df.quantile(0.75))
print("Maxmum:",df.max())

Minimun: 5.100222
25th percentile: 7.485649
Median: 10.2623635
75th percentile: 11.228151
Maxmum: 14.612143

# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [92]:
data_19 = [9, 1, 2, 3, 9, 39, 9, 39, 1, 5]
df=pd.Series(data_19)
count=df.value_counts()
count

9     3
1     2
39    2
2     1
3     1
5     1
Name: count, dtype: int64

# 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [97]:
data_20 = [9, 1, 2, 3, 3,3,3,3,3,3,3,3,9, 39, 9, 39, 1, 5]
df=pd.Series(data_20)
print("most frequent value:",df.mode())

most frequent value: 0    3
dtype: int64

# 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.
Sample Output:
Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64

In [116]:
data_21=([1,9,8,50,7,80,10,100,1])
df=pd.Series(data_21)
result = df.index[df % 5 == 0].tolist()
print(result)

[3, 5, 6, 7]

# 23. Write a Pandas program to extract items at given positions of a given series.
Sample Output:
Original Series:
0 2
1 3
2 9
3 0
4 2
5 3
...
19 0
20 2
21 3
dtype: object
Extract items at given positions of the said series:
0 2
2 9
6 8
11 0
21 3
dtype: object

In [122]:
data_23_1 = [1, 2, 3, 4, 5, 6, 7, 8, 19, 20]
s1 = pd.Series(data_23_1)

data_23_2 = [2, 5, 10, 4, 19]
s2 = pd.Series(data_23_2)

mask=s1.isin(s2)
position=s1[mask].index.tolist()
print(position)

[1, 3, 4, 8]

# 24. Write a Pandas program convert the first and last character of each word to upper
case in each word of a given series.
Sample Output:
Original Series:
0 php
1 python
2 java
3 c#
dtype: object
First and last character of each word to upper case:
0 PhP
1 PythoN
2 JavA
3 C#
dtype: object

In [125]:
data_24 = ['php', 'python', 'java', 'c']
original = pd.Series(data_24)

def first_last_upper(word):
    if len(word)>1:
        return word[0].upper() + word[1:-1]+ word[-1].upper()
    elif len(word)==1:
        return word.upper()
    else:
        return word

modifide=original.apply(first_last_upper)
modifide

0       PhP
1    PythoN
2      JavA
3         C
dtype: object

# 25. Write a Pandas program to calculate the number of characters in each word in a given
series.
Sample Output:
Original Series:
0 Php
1 Python
2 Java
3 C#
dtype: object
Number of characters in each word in the said series:
0 3
1 6
2 4
3 2
dtype: int64

In [128]:
data_24 = ['php', 'python', 'java', 'c']
original = pd.Series(data_24)
char_counts = original.str.len()
char_counts

0    3
1    6
2    4
3    1
dtype: int64

# 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

# 27. Write a Pandas program to convert a series of date strings to a timeseries.

In [15]:
data_27 = ['01 Jan 2015', '10-09-2016', '2016/05/04', '2016-04-12']
original = pd.Series(data_27)
timeseries = pd.to_datetime(original, format='mixed')
timeseries

0   2015-01-01
1   2016-10-09
2   2016-05-04
3   2016-04-12
dtype: datetime64[ns]

# 28. Write a Pandas program to get the day of month, day of year, week number and day
of week from a given series of date strings.
Sample Output:
Original Series:
0 01 Jan 2015
1 10-02-2016
2 20180307
3 2014/05/06
4 2016-04-12
5 2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Week number:
[1, 39, 10, 19, 15, 14]
Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [22]:
data = ['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20']
original = pd.Series(data)
print(original)
dates = pd.to_datetime(original, format='mixed', errors='coerce')
day_of_month = dates.dt.day
day_of_year = dates.dt.dayofyear
week_number = dates.dt.isocalendar().week
day_of_week = dates.dt.day_name()

print("\nDay of month:")
print(day_of_month.tolist())

print("\nDay of year:")
print(day_of_year.tolist())

print("\nWeek number:")
print(week_number.tolist())

print("\nDay of week:")
print(day_of_week.tolist())

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Day of month:
[1, 2, 7, 6, 12, 6]

Day of year:
[1, 276, 66, 126, 103, 96]

Week number:
[1, 39, 10, 19, 15, 14]

Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']

In [24]:

data = ['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019']
original = pd.Series(data)
print(original)
day = 15
dates = pd.to_datetime(original) + pd.offsets.Day(day - 1)
print("\nConverted Dates (Day = 15):")
print(dates)

0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

Converted Dates (Day = 15):
0   2015-01-15
1   2016-02-15
2   2017-03-15
3   2018-04-15
4   2019-05-15
dtype: datetime64[ns]

/var/folders/zs/rgm7kj4s3bb8xy2q5rcm2pnh0000gn/T/ipykernel_1196/56572957.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.to_datetime(original) + pd.offsets.Day(day - 1)

# 30. Write a Pandas program to filter words from a given series that contain atleast two
vowels.
Sample Output:
Original Series:
0 Red
1 Green
2 Orange
3 Pink
4 Yellow
5 White
dtype: object
Filtered words:
1 Green
2 Orange
4 Yellow
5 White
dtype: object

In [27]:

data = ['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White']
original = pd.Series(data)
print("Original Series:")
print(original)
def has_two_or_more_vowels(word):
    vowels = 'aeiouAEIOU'
    count = sum(1 for ch in word if ch in vowels)
    return count >= 2
filtered = original[original.apply(has_two_or_more_vowels)]
print("\nFiltered words:")
print(filtered)

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

# 31. Write a Pandas program to compute the Euclidean distance between two given series.
Euclidean distance
From Wikipedia,
In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line
distance between two points in Euclidean space. With this distance, Euclidean space
becomes a metric space. The associated norm is called the Euclidean norm.

In [30]:

series1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series2 = pd.Series([8, 7, 5, 6, 5, 3, 4, 7, 1])
print(series1)
print(series2)

# Compute Euclidean distance
distance = np.sqrt(np.sum((series1 - series2) ** 2))

print("\nEuclidean distance between two said series:")
print(distance)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    8
1    7
2    5
3    6
4    5
5    3
6    4
7    7
8    1
dtype: int64

Euclidean distance between two said series:
12.84523257866513

# 32. Write a Pandas program to find the positions of the values neighboured by smaller
values on both sides in a given series.
Sample Output:
Original series:
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64
Positions of the values surrounded by smaller values on both sides:

In [33]:

data = [1, 8, 7, 5, 6, 5, 3, 4, 7, 1]
original = pd.Series(data)
print("Original series:")
print(original)

# Find positions where value is greater than neighbors on both sides
positions = np.where((original.shift(1) < original) & (original.shift(-1) < original))[0]

print("Positions of the values surrounded by smaller values on both sides:")
print(positions)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Positions of the values surrounded by smaller values on both sides:
[1 4 8]

# 33. Write a Pandas program to replace missing white spaces in a given string with the
least frequent character.
Sample Output:
Original series:
abc def abcdef icd
c 3
d 3
3
b 2
e 2
a 2
f 2
i 1
dtype: int64
abcidefiabcdefiicd

In [36]:

data = pd.Series(['abc def abcdef icd'])
print(data[0])

# Remove spaces and count character frequency
char_freq = pd.Series(list(data[0].replace(" ", ""))).value_counts()
print("\nCharacter frequencies:")
print(char_freq)

# Find the least frequent character
least_freq_char = char_freq.index[-1]

# Replace spaces with the least frequent character
result = data[0].replace(" ", least_freq_char)
print("\nString after replacing spaces with least frequent character:")
print(result)

Original series:
abc def abcdef icd

Character frequencies:
c    3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64

String after replacing spaces with least frequent character:
abcidefiabcdefiicd

# 34. Write a Pandas program to compute the autocorrelations of a given numeric series.
From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a
delayed copy of itself as a function of delay. Informally, it is the similarity between
observations as a function of the time lag between them.
Sample Output:
Original series:
0 13.207262
1 4.098685
2 -1.435534
3 13.626760
...
13 -2.346193
14 17.873884
dtype: float64
Autocorrelations of the said series:
[-0.38, 0.1, -0.43, 0.03, 0.35, -0.2, 0.04, -0.59, 0.34, 0.11]

In [39]:

data = pd.Series([13.207262, 4.098685, -1.435534, 13.626760, 5.216809, 8.578997, 
                  11.320204, 4.392370, 10.273274, 20.952738, 9.689716, 3.464524, 
                  -2.346193, 17.873884])

print("Original series:")
print(data)

# Compute autocorrelations for different lags (1 to 10)
autocorrs = [round(data.autocorr(lag=i), 2) for i in range(1, 11)]

print("\nAutocorrelations of the said series:")
print(autocorrs)

Original series:
0     13.207262
1      4.098685
2     -1.435534
3     13.626760
4      5.216809
5      8.578997
6     11.320204
7      4.392370
8     10.273274
9     20.952738
10     9.689716
11     3.464524
12    -2.346193
13    17.873884
dtype: float64

Autocorrelations of the said series:
[-0.16, -0.46, -0.11, 0.13, 0.18, 0.05, -0.37, -0.14, 0.11, 0.93]

# 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given
year.
Sample Output:
All Sundays of 2019:
0 2020-01-05
1 2020-01-12
2 2020-01-19
3 2020-01-26
4 2020-02-02
5 2020-02-09
.....
48 2020-12-06
49 2020-12-13
50 2020-12-20
51 2020-12-27
dtype: datetime64[ns]

In [42]:

year = 2020

# Generate all Sundays of the given year
sundays = pd.date_range(start=f'{year}-01-01', end=f'{year}-12-31', freq='W-SUN')
print(f"All Sundays of {year}:")
print(sundays)

All Sundays of 2020:
DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26',
               '2020-02-02', '2020-02-09', '2020-02-16', '2020-02-23',
               '2020-03-01', '2020-03-08', '2020-03-15', '2020-03-22',
               '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19',
               '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17',
               '2020-05-24', '2020-05-31', '2020-06-07', '2020-06-14',
               '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12',
               '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09',
               '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06',
               '2020-09-13', '2020-09-20', '2020-09-27', '2020-10-04',
               '2020-10-11', '2020-10-18', '2020-10-25', '2020-11-01',
               '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29',
               '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27'],
              dtype='datetime64[ns]', freq='W-SUN')

# 36. Write a Pandas program to convert given series into a dataframe with its index as
another column on the dataframe.
Sample Output:
index 0
0 A 0
1 B 1
2 C 2
3 D 3
4 E 4

In [47]:

s = pd.Series(['A', 'B', 'C', 'D', 'E'])
print("Original Series:")
print(s)

# Convert Series to DataFrame with index as a column
df = s.reset_index()
df.columns = ['index', 0]  # Rename columns to match sample output

print("Converted DataFrame:")
print(df)

Original Series:
0    A
1    B
2    C
3    D
4    E
dtype: object
Converted DataFrame:
   index  0
0      0  A
1      1  B
2      2  C
3      3  D
4      4  E

# 37. Write a Pandas program to stack two given series vertically and horizontally.

In [52]:

s1 = pd.Series(range(10))  # 0 to 9
s2 = pd.Series(list('pqrstuvwxy'))  # p to y
print(s1)
print(s2)

# Vertical stack (concatenate)
vertical_stack = pd.concat([s1, s2], ignore_index=True)
print("Vertical Stack:")
print(vertical_stack)

# Horizontal stack (as columns in a DataFrame)
horizontal_stack = pd.concat([s1, s2], axis=1)
print("Horizontal Stack:")
print(horizontal_stack)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
Vertical Stack:
0     0
1     1
2     2
3     3
4     4
5     5
6     6
7     7
8     8
9     9
10    p
11    q
12    r
13    s
14    t
15    u
16    v
17    w
18    x
19    y
dtype: object
Horizontal Stack:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

# 38. Write a Pandas program to check the equality of two given series.

In [55]:

s1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
s2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print(s1)
print(s2)

# Check equality element-wise
equality = s1 == s2

print("Check 2 series are equal or not?")
print(equality)

0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

#  39. Write a Pandas program to find the index of the first occurrence of the smallest and
largest value of a given series.
Sample Output:
Original Series:
0 1
1 3
2 7
.....
7 1
8 9
9 0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said
series:
9
4

In [58]:

s = pd.Series([1, 3, 7, 5, 9, 2, 4, 1, 6, 0])
print(s)

# Index of first occurrence of smallest value
min_index = s.idxmin()

# Index of first occurrence of largest value
max_index = s.idxmax()

print("Index of the first occurrence of the smallest and largest value of the said series:")
print(min_index)
print(max_index)

0    1
1    3
2    7
3    5
4    9
5    2
6    4
7    1
8    6
9    0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4

# 40. Write a Pandas program to check inequality over the index axis of a given dataframe
and a given series.

In [61]:

df = pd.DataFrame({
    'W': [68, 75, 86, 80, np.nan],
    'X': [78, 75, np.nan, 80, 86],
    'Y': [84, 94, 89, 86, 86],
    'Z': [86, 97, 96, 72, 83]
})
print(df)
s = pd.Series([68, 75, 86, 80, np.nan])
print("\nOriginal Series:")
print(s)

# Check inequality along index axis
inequality = df.ne(s, axis=0)  # ne = not equal, axis=0 aligns index
print("\nCheck for inequality of the said series & dataframe:")
print(inequality)

      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True